@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
  width: 12px; /* Largura da barra de rolagem */
}

::-webkit-scrollbar-track {
  background: transparent; /* Cor do fundo da barra de rolagem */
}

::-webkit-scrollbar-thumb {
  background: #5A5A5A; /* Cor do "polegar" da barra de rolagem */
}
